<h3>Beer List</h3>

<p>Recently Viewed: <%= @beer ? @beer.name : "You haven't visited any beers." %></p>

<ul>
  <% @beers.each do |beer| %>
     <li><a href="/beers/<%= beer.id %>"><%= beer.name %></a></li>
  <% end %>
</ul>