<h2>Add A New Beer</h2>

<form action="/beers" method="post">
  <div class="input-field">
          <input id="beer_name" name="beer_name" type="text" class="validate">
          <label for="beer_name">Beer Name</label>
        </div>
</form>