<h2>Add A New Beer</h2>

<form action="/beers" method="post">
  <div class="input-field">
    <input id="beer_name" name="beer[name]" type="text" class="validate">
    <label for="beer_name">Beer Name</label>
  </div>
  <div class="input-field">
    <input id="beer_style" type="text" name="beer[style]">
    <label for="beer_style">Style Of Beer</label>
  </div>
  
  <div class="input-field">
    <input id="brewery" name="beer[brewery]" type="text">
    <label for="brewery">Brewery Name</label>
  </div>

  <input type="submit" value="Add To List">
</form>